<!DOCTYPE html>
<html>
<head>
    <title>Semantic Domain Labeler</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <form method="POST">
        <h1>{{ sentence | safe }}</h1>
        <input type="hidden" name="sentence" id="sentence-input" value="{{ sentence }}">
        <button type="submit">Next</button>
        <div id="checkboxes">
            {% for checkbox in checkboxes %}
                <label><input type="checkbox" name="word" value="{{ checkbox.word }}" {{ checkbox.checked }}>{{ checkbox.word }}</label><br>
            {% endfor %}
        </div>
    </form>
</body>
</html>
